h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(21, 94, 250);
    color: white;
    padding: 20px;
    text-align: center;
}

.container-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container > div {
    margin: 10px;
}

.container > div > #calculate {
    margin-left: 25%;
    padding: 10px;
}

.container > div > #result {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container > div > p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

label {
    display: block;
    padding: 5px;
}

#calculate {
    background-color: rgb(65, 125, 255);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 0cm;
}

#height, #weight {
    padding: 5px;
    border-radius: 5px;
}